@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;
@use 'sass:map';

.header__menu {
  font-size: 32px;
  margin: 10px auto;
  @include mix.centering-using-flex();
  width: 30px;
  cursor: pointer;
  padding: 16px 32px;
}

.nav {
  width: 100%;
  margin: auto;
  padding: 16px;
  text-align: center;
  @include mix.centering-using-flex();
  justify-content: space-between;
}

.nav__logo {
  color: var.$red;
  font-weight: 500;
  user-select: none;
}

.nav__list {
  @include mix.centering-using-flex();
  gap: 32px;
}

.nav__item {
  display: inline-block;
  text-align: center;
  line-height: 24px;
  text-transform: uppercase;
}

.nav a {
  display: inline-block;
  padding: 16px;
  text-decoration: none;
  color: var.$gray;
  transition: var.$smooth-transition;

  &:hover {
    color: var.$red-hover;
  }
}

@media screen and (max-width: calc(map.get(var.$breakpoints, 'sm') - 1px)) {
  .nav {
    flex-direction: column;
    z-index: 10;
    background-color: #fff;
    width: 100%;
    position: absolute;
    -webkit-transform: translate(-768px, 0);
    transform: translate(-768px, 0);
    transition: transform 0.3s ease;
  }

  .open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .nav__logo {
    display: none;
  }

  .nav__list {
    @include mix.centering-using-flex($flex-dir: column);
  }

  .nav__item {
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: map.get(var.$breakpoints, 'sm')) {
  .header__menu {
    display: none;
  }
}

@media screen and (min-width: map.get(var.$breakpoints, 'lg')) {
  .nav {
    max-width: 1200px;
  }
}
