<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Apps</title>
</head>

<body>
  <a href="#maincontent" class="skip-link">Menuju ke konten</a>

  <a id="menu" class="header__menu" tabindex="0">☰</a>

  <nav id="drawer" class="nav">
    <h1 class="nav__logo">ARISKA</h1>
    <ul class="nav__list">
      <li class="nav__item"><a href="/">Home</a></li>
      <li class="nav__item"><a href="#">Favorite</a></li>
      <li class="nav__item"><a href="https://github.com/rach-syahputra/">About Us</a></li>
    </ul>
  </nav>

  <div class="hero"></div>

  <main id="maincontent">
    <section class="content">
      <article class="headline">
        <figure class="headline__figure">
          <img src="images/heros/hero-image_4.jpg" alt="A beautiful plated dish with flowers" />
          <figcaption>A beautiful plated dish with flowers</figcaption>
        </figure>
        <div class="headline__content">
          <h1 class="headline__title"> Craving something Insta-worthy?</h1>
          <p class="headline__description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus eum
            facere nostrum officiis qui quidem ratione similique, soluta veniam
            voluptatum. Accusantium ad amet asperiores, aut commodi corporis dicta
            distinctio ducimus expedita itaque laudantium magnam maiores, nobis
            obcaecati officiis provident quasi qui quos repellat rerum saepe sint soluta
            veniam vero vitae, voluptas voluptate voluptatem. Esse nobis non nulla optio
            vero. Laudantium!
          </p>
          <button class="headline__button">Read More</button>
        </div>
      </article>

      <div class="restaurant">
        <h1 class="restaurant__label">Explore Restaurants</h1>
        <div class="restaurants" id="restaurantList"></div>
      </div>
    </section>
  </main>

  <footer>
    <p>Good food, good mood!</p>
  </footer>
</body>

</html>