<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#d61920" />
  <title>Restaurant Apps</title>

  <link rel="icon" href="icons/icon-72x72.png">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="./app.webmanifest">

  <link rel="preload" href="./images/hero-image_2-large.jpg" as="image">
  <link rel="preload" href="./images/hero-image_2-small.jpg" as="image" media="(max-width: 768px)">

</head>

<body>
  <a tabindex="0" class="skip-link">Go to content</a>
  <error-popup-message></error-popup-message>

  <a id="menu" class="header__menu" tabindex="0" aria-label="menu button">☰</a>

  <nav id="drawer" class="nav">
    <h1 class="nav__logo">ARISKA</h1>
    <ul class="nav__list">
      <li class="nav__item"><a href="/">Home</a></li>
      <li class="nav__item"><a href="#/favorites">Favorite</a></li>
      <li class="nav__item"><a href="https://github.com/rach-syahputra/" target="_blank" rel="noopener"
          rel="noreferrer">About Us</a></li>
    </ul>
  </nav>

  <main tabindex="0" id="mainContent"></main>

  <footer>
    <p>Good food, good mood!</p>
  </footer>
</body>

</html>