<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Apps</title>
</head>

<body>
  <a id="menu" class="header__menu">☰</a>

  <nav id="drawer" class="nav">
    <h1 class="nav__logo">ARISKA</h1>
    <ul class="nav__list">
      <li class="nav__item"><a href="/">Home</a></li>
      <li class="nav__item"><a href="#">Favorite</a></li>
      <li class="nav__item"><a href="https://github.com/rach-syahputra/">About Us</a></li>
    </ul>
  </nav>

  <div class="hero"></div>

  <main>
    <section class="content">

      <div class="restaurant">
        <h1 class="restaurant__label">Explore Restaurants</h1>
        <div class="restaurants" id="restaurantList"></div>
      </div>

    </section>
  </main>

  <footer>
    <p>Good food, good mood!</p>
  </footer>
</body>

</html>