$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  'xxl': 1400px
);

// Colors
$red: #d61920;
$red-hover: #c4171d;
$green: #06c167;
$green-hover: #05ad5c;
$gray: #6c757d;
$dark: #212529;

// Fonts
$primary-font: 'Open Sans', sans-serif;
$text-sm: 12px;
$text-base: 14px;
$text-lg: 16px;
$text-xl: 18px;
$text-2xl: 21px;
$text-3xl: 26px;
$text-4xl: 32px;

$primary-border-radius: 4px;

$smooth-transition: all 150ms ease-in-out;
