@use '../abstracts/variables' as var;
@use 'sass:map';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: var.$primary-font;
}

main {
  width: 100%;
  margin: 0 auto;

  .content {
    padding: 32px;
  }
}

@media screen and (min-width: map.get(var.$breakpoints, 'lg')) {
  main {
    max-width: 1200px;
  }
}
